<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div *ngIf="loading" id="circle">
  <div class="loader">
    <div class="loader">
        <div class="loader">
           <div class="loader">

           </div>
        </div>
    </div>
  </div>
</div> 

<div *ngIf="!loading" class="centrado">
      
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apelldio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>222</td>
            <td>Hommer Jay</td>
            <td>Simpson</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>222</td>
            <td>Marjorie</td>
            <td>Bouvier</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>2222</td>
            <td>Lisa Marie</td>
            <td>Simpson</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>2222</td>
            <td>Margaret</td>
            <td>Simpson</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>2222</td>
            <td>Abraham</td>
            <td>Simpson</td>
          </tr>
        </tbody>
      </table>
</div>
