<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div *ngIf="loading" id="circle">
  <div class="loader">
    <div class="loader">
        <div class="loader">
           <div class="loader">

           </div>
        </div>
    </div>
  </div>
</div> 
<tarjeta-foto></tarjeta-foto>
<div *ngIf="!loading" class="centrado">

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personaje of personajes; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{personaje.nombre}}</td>
        <td>{{personaje.apellido}}</td>
        <td>
          <button class="btn btn-dark btn-sm" placement="top" ngbTooltip="Tarjeta WebComponent"
            (click)="abrirTarjeta(personaje)">
            <i class="fa fa-address-card"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
